.shorts-container {
  width: 200px;        
  height: 300px;        
  margin: 40px auto;
  margin-left: 90px;
  margin-top: 0px;
  padding: 0px;
  background-color: #fff;
  border-radius: 16px;
  border:1px solid grey;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.shorts-title {
  font-size: 22px;
  font-weight: 600;
}

.shorts-status {
  font-size: 14px;
  color: #606060;
}

.shorts-empty {
  font-size: 16px;
  font-weight: 500;
  color: #888;
}
@media (max-width: 480px){
  .shorts-container{
    width:200px;
    height:300px;
  }
}